.book {
  width: 25rem;
  height: 17rem;
  perspective: 70rem;
}
.cover {
  background-color: #eb92a9;
  transform: rotateY(0deg);
  width: 12.5rem;
  height: 17rem;
}
.paper {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 11.5rem;
  height: 16.5rem;
  text-align: right;
  font-size: 8px;
  color: #e9e6c4;
  font-family: monospace;
}
.paper::before,
.paper::after {
  display: block;
  border-top: 1px dashed white;
  content: "";
  padding-bottom: 1rem;
}
.cover,
.paper {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.paper.turn {
  animation: bookOpen 3s forwards;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: -1 1;
  }
}
.paper:nth-of-type(1) {
  animation-delay: 0.05s;
}
.paper:nth-of-type(2) {
  animation-delay: 0.33s;
}
.paper:nth-of-type(3) {
  animation-delay: 0.66s;
}
.paper:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.paper:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.paper:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(180deg);
    z-index: 999;
  }
}
@keyframes bookCover {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(180deg);
    z-index: 1;
  }
}
@keyframes bookOpen150deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(150deg);
    z-index: 999;
  }
}
@keyframes bookOpen55deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(55deg);
    z-index: 999;
  }
}
@keyframes bookOpen30deg {
  50% {
    z-index: 999;
  }
  100% {
    transform: rotateY(30deg);
    z-index: 999;
  }
}
