.mirror {
  /* background-image: url("assets/mirror.png"); */
  height: 100%;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  position: relative;
  /* z-index: 99; */
  width: 75%;
  margin: 0 auto;
}

.mirror_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

/* =============== CAMERA =============== */

#container {
  margin: 0 auto;
  width: 500px;
}

#videoElement {
  width: 500px;
  scale: -1 1;
}
