.sheet {
  width: 90%;
  position: relative;
  margin: 20px auto;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  border-radius: 20px;
}

.sheet::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
  background-color: rgba(255, 0, 0, 0.6);
}

.sheet-pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.sheet-content {
  padding-top: 6px;
  padding-left: 7%;
  padding-right: 2%;
  line-height: 25px;
  letter-spacing: 1px;
  word-spacing: 5px;
}
